<!-- Navigation-->
<app-navigation></app-navigation>

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <app-about></app-about>
    <hr class="m-0" />

    <!-- Experience-->
    <app-experience></app-experience>
    <hr class="m-0" />

    <!-- Skills-->
    <app-skills></app-skills>
    <hr class="m-0" />

    <!-- Projects-->
    <app-projects></app-projects>
    <hr class="m-0" />

    <!-- Education-->
    <app-education></app-education>
    <hr class="m-0" />

    <!-- Certifications -->
    <app-certifications></app-certifications>
    <hr class="m-0" />


    <!-- Interests-->
    <app-interests></app-interests>
    <hr class="m-0" />

    <!-- Awards-->
    <!-- <app-awards></app-awards>
    <hr class="m-0" /> -->
    <!-- Contact -->
    <app-contact-me></app-contact-me>
    <hr class="m-0" />
</div>